
# Ignore Play! working directory #
# Scala-IDE specific
# emacs
# sbt specific
*.class
*.eml
*.iml
*.log
*~
.cache
.history
.scala_dependencies
/*.iml
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/RUNNING_PID
/out
bin
db
dist
dist/*
eclipse
lib
lib_managed/
log
logs
modules
precompiled
project/boot/
project/plugins/project/
project/project
project/target
server.pid
src_managed/
target
target/
test-result
tmp
